<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4" *ngIf="_productoservice.products.length > 0">
        <a class="rk-item ae-masonry__item animated fadeIn" *ngFor="let product of _productoservice.products">
            <img src="assets/productos/{{ product.url }}.jpg" [alt]="product.titulo">
            <div class="item-meta">
                <h2>{{ product.titulo }}</h2>
                <p>{{ product.categoria }}</p>
            </div>
        </a>
    </div>
</section>